<%- include('./partials/header') %>
<%= title%>
  <form action="/contacts/person/<%=id%>/addaddress" method="POST"> 

    <br />
    <div>
      <label for="street-address"> Street: 
      <input class="input-field" type="text" id="street-address" name="street">
      </label>
    </div>
    <br>

    <div>
      <label for="state-address"> State: 
      <input class="input-field" type="text" id="state-address" name="state">
      </label>
    </div>
    <br>

    <div>
      <label for="zip-address"> Zip Code: 
      <input class="input-field" type="number" id="zip-address" name="zip">
      </label>
    </div>
    <br>

    <button class="button">Submit</button>
    <button class="neg-button"><a href="/contacts/person/<%=id%>/">Cancel</a></button>
  </form> 
    
<%- include('./partials/footer')  %>