<%- include('./partials/header') %>
    <h1>
        <%= title %>
    </h1>
    
    <% for(let item of contacts) {%>
        <br>
        <a href="/contacts/person/<%=item._id%>"><%= item.firstName%> <%= item.lastName%></a>  <%= item.phoneNumber%>
        <br>
    <%};%>
    <br>
    <button class="button"><a href="/contacts/new">Add Contact</a></button>
<%- include('./partials/footer') %>