<%- include('./partials/header') %>
    <h1>
        <%= title %>
    </h1>
    <p>Welcome to <%= title %>
    </p>
    <p>THE CONTACTS HERE ARE 
        <% for(let item of contacts) {%>
            <br/><%= item._id%>  <a href= "/contacts/person/<%=item._id%>"><%= item.firstName%>  <%= item.lastName%> </a> <%= item.phoneNumber%>
        <%};%>
    </p>
    <a href="/contacts/new">Add Contact</a>
<%- include('./partials/footer') %>