<%- include('./partials/header') %>
    <h1>
        <%=title%>
    </h1>
    <div>
        <p>
            Contact ID: <%=personInfo._id%>
        </p>
        <p>
            First Name: <%= personInfo.firstName%>
        </p>
        <p>
            Last Name: <%= personInfo.lastName%>
        </p>
        <p>
            Phone Number: <%= personInfo.phoneNumber%>
        </p>
        
        <%if(personInfo.email){%>
            <p>
                Email: <%=personInfo.email%>
            </p>
        <%}%>

        <% for(let item of personInfo.address) {%>
            <%if(item.street || item.state || item.zip){%>
                <h3>Address: </h3>
                <form action="/contacts/person/<%=personInfo._id%>/deleteaddress/<%= item._id%>" method="POST"
                    enctype="application/x-www-form-urlencoded">
                    <input type="hidden" name="_method" value="DELETE">
                    <button>Delete Adddress </button>
                </form>
            <%}%>
                    
            <%if(item.street){%>
                <p>
                    Street: <%= item.street%>
                </p>
            <%}%>
                            
            <%if(item.state){%>
                <p>
                    State: <%= item.state%>
                </p>
            <%}%>
                                    
            <%if(item.zip){%>
                <p>
                    Zip: <%= item.zip%>
                </p>
            <%}%>
        <%};%>
    </div>

    <button><a href="/"> Home </a></button>

    <button><a href="/contacts/person/<%= personInfo._id%>/addaddress">Add address</a></button>

    <button><a href="/contacts/person/<%= personInfo._id%>/updatedetails">Update Details</a></button>

    <!-- passing in DELETE method through the enctype in method-override middleware -->
    <form action="/contacts/person/<%= personInfo._id%>/deleteperson" method="POST"
        enctype="application/x-www-form-urlencoded">
        <input type="hidden" name="_method" value="DELETE">
        <button>Delete Contact</button>
    </form>
<%- include('./partials/footer') %>