<%- include('./partials/header') %>
    <h1>
        <%=title%>
    </h1>
    <div>
        <br>
        <p>
            <strong>First Name</strong>: <%= personInfo.firstName%>
        </p>
        <br>
        <p>
            <strong>Last Name</strong>: <%= personInfo.lastName%>
        </p>
        <br>
        <p>
            <strong>Phone Number</strong>: <%= personInfo.phoneNumber%>
        </p>
        <br>
        <%if(personInfo.email){%>
            <p>
                <strong>Email</strong>: <%=personInfo.email%>
            </p>
        <%}%>

        <% for(let item of personInfo.address) {%>
            <%if(item.street || item.state || item.zip){%>
                <br>
                <h3>Address: </h3>
                <br>
                <form action="/contacts/person/<%=personInfo._id%>/deleteaddress/<%= item._id%>" method="POST"
                    enctype="application/x-www-form-urlencoded">
                    <input type="hidden" name="_method" value="DELETE">
                    <button class="neg-button">Delete Adddress </button>
                </form>
            <%}%>
            <br>
            <%if(item.street){%>
                <p>
                    <strong>Street</strong>: <%= item.street%>
                </p>
            <%}%>
            <br>
            <%if(item.state){%>
                <p>
                    <strong>State</strong>: <%= item.state%>
                </p>
            <%}%>
            <br>
            <%if(item.zip){%>
                <p>
                    <strong>Zip</strong>: <%= item.zip%>
                </p>
            <%}%>
            <br>
        <%};%>
    </div>
    <br>
    <button class="button"><a href="/"> Home </a></button>
    <button class="button"><a href="/contacts/person/<%= personInfo._id%>/addaddress">Add address</a></button>
    <button class="button"><a href="/contacts/person/<%= personInfo._id%>/updatedetails">Update Details</a></button>
    <br>
    <br>
    <!-- passing in DELETE method through the enctype in method-override middleware -->
    <form action="/contacts/person/<%= personInfo._id%>/deleteperson" method="POST"
        enctype="application/x-www-form-urlencoded">
        <input type="hidden" name="_method" value="DELETE">
        <button class="neg-button">Delete Contact</button>
    </form>
<%- include('./partials/footer') %>